{% extends 'fusionartfair/base.html' %}
{% load static %} <!-- Load static files -->

{% block title %}
About Us
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}" type="text/css">

{% endblock %}

{% block content %}
<!-- About section Start -->

<div class="container-fluid pt-5">
    <div class="container">


    </div>
</div>

<div class="container-fluid pt-5">
    <div class="container">


    </div>
</div>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <div class="welcome-text-container text-center py-3">
                <h1>Fusion Art Fair - Privacy Policy</h1>

            </div>
        </div>

    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 mb-5 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">


                <p class="p-home">
                    Fusion Art Fair provides a service for viewing, selling and purchasing original artwork
                    through live events and our website, accessible at www.fusionartfair.co.uk (“Site”)
                    together with any services, software, tools, features or functionality made available by
                    Fusion Art Fair (“Services”).
                </p>
                <p class="p-home">
                    Fusion Art Fair is committed to ensuring the privacy of exhibitors, customers and users
                    of the Fusion Art Fair website. We never share your personal information (“Data”) with a
                    third party. Fusion Art Fair may contact customers by email with electronic newsletters
                    or as part of our event promotions to the email address you have supplied, and our
                    email correspondence includes an unsubscribe option.
                </p>
                <p class="p-home">
                    By accessing or using our Services in any way, you agree that your information may be
                    collected, stored, and used as described in the Privacy Policy. The Privacy Policy
                    applies to all of our Services, regardless of how you use them. This Policy only applies
                    to how we collect, store, and use information. This Policy does not apply to any entity
                    that we do not own or control, or to any person that we do not employ or manage.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 mb-5 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">


                <h4>PROCESSING YOUR PERSONAL DATA</h4>

                <p class="p-home">
                    We collect information to enhance, protect, and personalise our website, services,
                    features, and content, as well as to create new services to improve website navigation.
                    Additionally, we use the information to send you updates, offers, and promotions. We
                    may also contact you occasionally to provide important service-related notices.
                </p>


                <p class="p-home">
                    We collect data with your consent:
                <ul>
                    <li>Fill in forms on our Site, such as mailing list sign-up or subscription</li>
                    <li>Correspond with us by phone, email or social media</li>
                    <li>Agree to the use of Cookies and other web tracking tools</li>
                    <li>Register tickets, either through our Site, or through our ticketing partners</li>
                    <li>Enter into a competition or promotion</li>
                    <li>Visit and purchase artwork from art fairs</li>
                    <li>Complete a survey or sharing feedback</li>
                    <li>Report issues or make a complaint</li>
                </ul>
                </p>
                <p class="p-home">
                    The information you give us may include:
                <ul>
                    <li>First and last name, address, email address, telephone number or payment details</li>
                    <li>Details of your preferences and opinions</li>
                    <li>Information about your use of our website, events and services;</li>
                    <li>The communications you exchange with us or direct to us via letters, emails, calls, and social
                        media.</li>
                    <li>Location information may be collected, including real-time geographic location of your computer
                        or device through GPS, Bluetooth, and your IP Address, along with crowd-sourced Wi-Fi hotspot
                        and cell tower locations, if you use location-based features and turn on the Location Services
                        settings on your device and computer.</li>
                </ul>
                </p>

                <p class="p-home">
                    We utilise ticketing partners like Eventbrite for processing payments. In certain
                    circumstances, third parties may share your personal data with us. This could involve
                    ticketing details such as purchase date, visit date, ticket type, quantity of tickets, and
                    purchase history.
                </p>


                <p class="p-home">
                    If you post information on your user profile or other public areas of the Services, such as
                    reviews, comments, and user content, that information may be collected and used by
                    us, other users of the Services, and the public generally. We strongly recommend that
                    you do not post any information through the Services that allows strangers to identify or
                    locate you or any other person, or that you otherwise do not want to share with the
                    public.
                </p>
                <p class="p-home">
                    You may choose to voluntarily submit other information to us through the Services that
                    we do not request, and, in such instances, you are solely responsible for such
                    information.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 mb-5 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">


                <h4>PHOTOGRAPHY AND FILMING POLICY</h4>

                <p class="p-home">
                    Photography and filming take place at all Fusion Art Fair events. Images and video
                    footage captured at Fusion Art Fair events may be published on the company’s
                    promotional channels, including our website, social media platforms, advertising and
                    printed collateral. The images we select for publication or sharing will positively reflect
                    our visitors and exhibitors&#39; attendance at Fusion Art Fair events from the perspective of
                    the joy of collecting art and demonstrate that our events are open to everyone.
                </p>


                <p class="p-home">
                    Photography and filming signage will be displayed at the entrance, reception, workshop
                    and live art demonstration areas to indicate that this is taking place, and to direct visitors
                    to this policy for further information.

                </p>
                <p class="p-home">

                    If you have any objections for the images captured at one of our events, please email
                    info@fusionartfair.co.uk, so we can formally record the objection before deleting the
                    relevant images.
                </p>


            </div>
        </div>
    </div>
</div>

<!-- About section End -->
{% endblock %}