{% extends 'fusionartfair/base.html' %}
{% load static %} <!-- Load static files -->

{% block title %}
About Us
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}" type="text/css">

{% endblock %}

{% block content %}
<!-- About section Start -->

<div class="container-fluid pt-5">
    <div class="container">


    </div>
</div>

<div class="container-fluid pt-5">
    <div class="container">


    </div>
</div>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <div class="welcome-text-container text-center py-3">
                <h1>Terms and Conditions</h1>

            </div>
        </div>

    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 mb-5 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">

                <h4>Copyright</h4>
                <p class="p-home">
                    This website is owned and operated by Fusion Art Fair. All of the content featured or
                    displayed on this website, including, but not limited to, text, graphics, photographs,
                    moving images, sound, illustrations and software (“Content”), is owned by Fusion Art
                    Fair, its licensors and its content providers. All elements of Fusion Art Fair websites,
                    including, but not limited to, the general design and the Content, are protected by trade
                    dress, copyright, moral rights, trademark and other laws relating to intellectual property
                    rights. Except as explicitly permitted under this or another agreement with Fusion Art
                    Fair or one of its subsidiaries, no portion or element of this website or its Content may
                    be copied or retransmitted via any means and this website, its Content and all related
                    rights shall remain the exclusive property of Fusion Art Fair or its licensors unless
                    otherwise expressly agreed. You shall indemnify Fusion Art Fair, its subsidiaries, its
                    affiliates and licensors against any losses, expenses, costs or damages incurred by any
                    or all of them as a result of your breach of the terms of this Agreement or your
                    unauthorised use of the Content and related rights.
                    Fusion Art Fair reserves the right to change these terms and conditions at any time
                    without prior notice. In the event that any changes are made, the revised terms and
                    conditions shall be posted on this website immediately. Please check the latest
                    information posted herein to inform yourself of any changes.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 mb-5 mb-lg-0" data-aos="fade-up" data-aos-duration="2000">


                <h4>Privacy</h4>

                <p class="p-home">
                    We appreciate you visiting our website and social media - Fusion Art Fair (“Site”).
                    We care about the privacy of our exhibitors, customers and users when interacting with
                    us on the Site, joining our mailing list, registering for our events or corresponding with
                    us by phone, email and social media. We are committed to looking after personal
                    information (“Data”) about you that we collect, use and store securely and we promise
                    never to share data with a third party.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- About section End -->
{% endblock %}